body{
    font-family: 'Comic Sans MS';
}

.comment {
    resize: none;
}

.main{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:auto;
    height:auto;
    padding:2vw;
    gap:2vw;
    align-items: center;
}

.border{
    border:0.3vw solid black;
    padding:2vw;
    display:flex;
    gap:5vw;
    flex-direction: column;
}

.add-task{
    display:flex;
    flex-direction: column;
    width:65vw;
    height:auto;
    border:0.3vw solid black;
    padding:2vw;
}

.add-task-form{
    display:flex;
    flex-direction: column;
    gap:2vw;
}

.task-list{
    display:flex;
    flex-direction: column;
    width:65vw;
    height:auto;
    border:0.3vw solid black;
    padding:2vw;
}

.task-list-row{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:2vw;
}

.quick-links{
    display:flex;
    flex-direction:row;
    gap:1vw;
}

.table-elements{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}